*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 5px;
}
body{
    background: url("back-img.png");
}
.wrapper{
    width: 1024px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(0,0,0, 0.5);
    border-radius: 5px;
    padding: 20px;
    position: relative;
}
.header-avatar{
    height: 150px;
    width: 150px;
    background: url("foto.jpg");
    background-size: cover; 
    background-position-x: 40%;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 100px;
}
h1{
    background: rgba(255,255,255, 0.7);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
h2{
    color: white;
    text-align: center;
}
h3{
    color: white;
    background: black;
    padding: 5px;
    margin: 10px 0;
}
h4{
    color: white;
    padding: 2px;
    background:rgba(0,0,0, 0.5);
}
.main{
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    padding: 10px;
    background: rgba(255,255,255, 0.7);
}
.main section{
    margin: 20px;
}
.main-contacts{
    position: relative;
}
.main-contacts-social{
    position: absolute;
    top: 4px;
    right: 40px;
}
@media(max-width: 1100px){
    .wrapper{
        width: 95%;
    }
    .main{
        width: 100%;
    }
    .header-avatar{
        position: relative;
        margin: 0 auto;
        top: 0;
        right: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h1{
        text-align: center;
    }  
    .main-contacts-social{
        right: 5px;
    }
    .main-contacts-social img{
        border-radius: 2px;
    }
}